*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40,40,40);
}

.portion{
    background-color: rgb(80, 80, 80);
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input{
    padding: 10px;
    background-color: transparent;
    border-color: white !important;
    outline: none;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}

td, th{
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

input:first-of-type{
    margin-left: 50px;
}

.btn-parcelar{
    border: none;
    outline: none;
    background-color: rgb(44, 44, 97);
    padding: 12px 20px;
}